/MatrixPilot/MatrixPilot-auav3.X/nbproject/private/
/MatrixPilot/MatrixPilot-auav3.X/build/default/
/MatrixPilot/MatrixPilot-auav3.X/dist/default/
/MatrixPilot/MatrixPilot-auav3.X/nbproject/Makefile*
/MatrixPilot/MatrixPilot-auav3.X/nbproject/Package*

/MatrixPilot/MatrixPilot-udb5.X/nbproject/private/
/MatrixPilot/MatrixPilot-udb5.X/build/default/
/MatrixPilot/MatrixPilot-udb5.X/dist/default/
/MatrixPilot/MatrixPilot-udb5.X/nbproject/Makefile*
/MatrixPilot/MatrixPilot-udb5.X/nbproject/Package*

/MatrixPilot/MatrixPilot-udb4.X/nbproject/private/
/MatrixPilot/MatrixPilot-udb4.X/build/default/
/MatrixPilot/MatrixPilot-udb4.X/dist/default/
/MatrixPilot/MatrixPilot-udb4.X/nbproject/Makefile*
/MatrixPilot/MatrixPilot-udb4.X/nbproject/Package*

/RollPitchYaw/RollPitchYaw-auav3.X/nbproject/private/
/RollPitchYaw/RollPitchYaw-auav3.X/build/default/
/RollPitchYaw/RollPitchYaw-auav3.X/dist/default/
/RollPitchYaw/RollPitchYaw-auav3.X/nbproject/Makefile*
/RollPitchYaw/RollPitchYaw-auav3.X/nbproject/Package*

/RollPitchYaw/RollPitchYaw-udb5.X/nbproject/private/
/RollPitchYaw/RollPitchYaw-udb5.X/build/default/
/RollPitchYaw/RollPitchYaw-udb5.X/dist/default/
/RollPitchYaw/RollPitchYaw-udb5.X/nbproject/Makefile*
/RollPitchYaw/RollPitchYaw-udb5.X/nbproject/Package*

/RollPitchYaw/RollPitchYaw-udb4.X/nbproject/private/
/RollPitchYaw/RollPitchYaw-udb4.X/build/default/
/RollPitchYaw/RollPitchYaw-udb4.X/dist/default/
/RollPitchYaw/RollPitchYaw-udb4.X/nbproject/Makefile*
/RollPitchYaw/RollPitchYaw-udb4.X/nbproject/Package*

/Tools/LedTest/LedTest-auav3.X/nbproject/private/
/Tools/LedTest/LedTest-auav3.X/build/default/
/Tools/LedTest/LedTest-auav3.X/dist/default/
/Tools/LedTest/LedTest-auav3.X/nbproject/Makefile*
/Tools/LedTest/LedTest-auav3.X/nbproject/Package*

/Tools/LedTest/LedTest-udb5.X/nbproject/private/
/Tools/LedTest/LedTest-udb5.X/build/default/
/Tools/LedTest/LedTest-udb5.X/dist/default/
/Tools/LedTest/LedTest-udb5.X/nbproject/Makefile*
/Tools/LedTest/LedTest-udb5.X/nbproject/Package*

/Tools/LedTest/LedTest-udb4.X/nbproject/private/
/Tools/LedTest/LedTest-udb4.X/build/default/
/Tools/LedTest/LedTest-udb4.X/dist/default/
/Tools/LedTest/LedTest-udb4.X/nbproject/Makefile*
/Tools/LedTest/LedTest-udb4.X/nbproject/Package*

*.o

/Tools/MatrixPilot-SIL/matrixpilot
/Tools/MatrixPilot-SIL/silcat
/Tools/LedTest/LedTest-auav3.X/nbproject/private/
/Tools/LedTest/LedTest-auav3.X/build/default/
/Tools/LedTest/LedTest-auav3.X/dist/default/

*.pyc
/Tools/flight_analyzer/flan_config

MatrixPilot.config
MatrixPilot.creator
MatrixPilot.creator.user
MatrixPilot.files
MatrixPilot.includes

_build

