# Build and autotest script for MatrixPilot firmware
# http://travis-ci.org

language: c


sudo: true

addons:
  apt:
    packages:
    - libc6:i386
    - libx11-6:i386
    - libxext6:i386
    - libstdc++6:i386
    - libexpat1:i386

before_install: 
 - chmod +x travis-install-dependencies.sh

# Install needed IDE and compiler
install:
 - ./travis-install-dependencies.sh
 - export PATH=$PATH:/opt/microchip/xc16/v1.26/bin
 - xc16-gcc --version

before_script:
  - pwd
  - ls -la

script:
  - mkdir -p ./build-yml
  - cd ./build-yml
  
  - mkdir -p ./SIL
  - cd ./SIL
  - make -j 8 -f ../../makefile DEVICE=SIL
  - ls -la *.out
  - cd ..

  - mkdir -p ./AUAV3
  - cd ./AUAV3
  -  make -j 8 -f ../../makefile DEVICE=AUAV3 TOOLCHAIN=XC16
  - ls -la *.hex *.map
  - cd ..

  - mkdir -p ./UDB5
  - cd ./UDB5
  -  make -j 8 -f ../../makefile DEVICE=UDB5 TOOLCHAIN=XC16
  - ls -la *.hex *.map
  - cd ..

  - mkdir -p ./UDB4
  - cd ./UDB4
  -  make -j 8 -f ../../makefile DEVICE=UDB4 TOOLCHAIN=XC16
  - ls -la *.hex *.map
  - cd ..

  - cd ..

  - pwd
#  - export PATH=/opt/microchip/xc16/v1.24/bin:$PATH
#  - export PATH=/opt/microchip/xc16/v1.26/bin:$PATH
#  - xc16-gcc --version
#  - elf-ld --version
#  - cat ./opt/microchip/xc16/v1.26/support/dsPIC33E/gld/p33EP512MU810.gld
#  - ./build-all.sh
  
after_success:
  - cd ~

deploy:
  provider: releases
  file: "./build-yml/MatrixPilot-SIL-GCC.out"
  skip_cleanup: true
  on:
    tags: false
